<div class="modal-header bg-primary text-white">
    <h4 class="modal-title" id="modal-basic-title" style="color: white;">EDITAR EDUCACIÓN</h4>
</div>
<div class="modal-body" style="color: black;">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" *ngIf="editForm">
        <div class="form-group row d-flex align-items-center" style="gap: 30px; margin-bottom: 15px;">
            <label for="nombre" class="col-form-label col-sm-3 text-right">Nombre:</label>
            <div class="col-sm-7">
                <input type="text" formControlName="nombre" class="form-control" [ngModel]="usuario?.nombre" />
            </div>
        </div>
        <div class="form-group row d-flex align-items-center" style="gap: 30px; margin-bottom: 15px;">
            <label for="apellido" class="col-form-label col-sm-3 text-right">Apellido:</label>
            <div class="col-sm-7">
                <input type="text" formControlName="apellido" class="form-control" [ngModel]="usuario?.apellido"/>
            </div>
        </div>
        <div class="form-group row d-flex align-items-center" style="gap: 30px; margin-bottom: 15px;">
            <label for="titulo" class="col-form-label col-sm-3 text-right">Titulo:</label>
            <div class="col-sm-7">
                <input type="text" formControlName="titulo" class="form-control" [ngModel]="usuario?.titulo"/>
            </div>
        </div>
        <div class="form-group row d-flex align-items-center" style="gap: 30px; margin-bottom: 15px;">
            <label for="descripcion" class="col-form-label col-sm-3 text-right">Descripción:</label>
            <div class="col-sm-7">
                <input type="text" formControlName="descripcion" class="form-control" name="fecha" [ngModel]="usuario?.descripcion"/>
            </div>
        </div>
        <div class="form-group row d-flex align-items-center" style="gap: 30px; margin-bottom: 15px;">
            <label for="fotoPerfil" class="col-form-label col-sm-3 text-right">URL Imagen:</label>
            <div class="col-sm-7">
                <input type="text" formControlName="fotoPerfil" class="form-control" [ngModel]="usuario?.fotoPerfil"/>
            </div>
        </div>
        <div class="modal-footer">
            <button [disabled]="isLoading" class="btn btn-primary mr-2" (click)="modal.close('Cancel')">Cancelar</button>
            <button [disabled]="isLoading" class="btn btn-primary mr-2">Editar</button>
        </div>
    </form>
</div>
