<section class="footer">
    <div class="container">
      <ul>
        <li><a href="https://www.instagram.com/juli.dirocco/"><i class="fa fa-instagram fa-2x"></i></a></li>
        <li><a href="https://www.facebook.com/jmda.torre/"><i class="fa fa-facebook fa-2x"></i></a></li>
        <li><a href="https://github.com/JuliDir"><i class="fa fa-github fa-2x"></i></a></li>
      </ul>
    </div>
    <p class="text-center" style="margin: 0px"><a href="#" class="gototop"><i class="fa fa-chevron-up fa-2"></i></a></p>
  </section>
