<div class="modal-header bg-primary text-white">
    <h4 class="modal-title" id="modal-basic-title" style="color: white;">EDITAR HABILIDAD</h4>
</div>
<div class="modal-body" style="color: black;">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" *ngIf="editForm">
        <div class="form-group row d-flex align-items-center" style="gap: 30px; margin-bottom: 15px;">
            <label for="nombreSkill" class="col-form-label col-sm-3 text-right">Nombre Habilidad:</label>
            <div class="col-sm-7">
                <input type="text" formControlName="nombreSkill" class="form-control" [placeholder]="skills?.nombreSkill" [ngModel]="skills?.nombreSkill"
                />
            </div>
        </div>
        <div class="form-group row d-flex align-items-center" style="gap: 30px; margin-bottom: 15px;">
            <label for="porcentaje" class="col-form-label col-sm-3 text-right">Porcentaje:</label>
            <div class="col-sm-7">
                <input type="text" formControlName="porcentaje" class="form-control" [placeholder]="skills?.porcentaje" [ngModel]="skills?.porcentaje"/>
            </div>
        </div>
        <div class="modal-footer">
            <button [disabled]="isLoading" class="btn btn-primary mr-2" (click)="modal.close('Cancel')">Cancelar</button>
            <button [disabled]="isLoading" class="btn btn-primary mr-2">Editar</button>
        </div>
    </form>
</div>
