<section class="aboutme" id="aboutme" >
    <div class="container">
      <div class="row">
       <div class="col-md-12">
      	<div class="heading">
        <h2>Acerca de mí</h2>
        <h3>Una pequeña introducción de mi mismo</h3>
        <br><button type="button" class="btn btn-success" *ngIf="!isLogout()" (click)="editUsuario()">EDITAR USUARIO</button>        
      </div>
      </div> 
       </div> 
      <div class="row">
      	<div class=" col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left media">
        	<h5>{{usuario?.nombre}} {{usuario?.apellido}}</h5>
            <h4>{{usuario?.subTitulo}}</h4>
            <p style="text-indent: 40px; font-size: 16px; text-align: justify;">{{usuario?.descripcion}}</p>
        </div>
        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right media"><img src="{{usuario?.fotoPerfil}}" alt=""></div>
      </div>     
    </div>    
  </section>
