.aboutme{
	background:#ffffff;
	text-align:left;
}
.aboutme .container{
	padding-top:80px ;
	padding-bottom:47px ;
}
.aboutme img {
	padding:7px;
	display:block;
	border:1px solid #bab4bb;
}
.aboutme p{
	padding-bottom:41px;
    font-size:15px;
	line-height:27px;
	font-weight:400;
	margin:0px;
}

.aboutme h2{
	font-family: 'Montserrat', sans-serif;
	font-size:29px;
	color:black;
	line-height:57px;
	padding-bottom:10px;
	font-weight:400;
	text-transform:uppercase;
	margin:0px;
}

.aboutme h4 {
    font-family: 'Montserrat', sans-serif;
	font-size:18px;
	color:black;
	padding-bottom:20px;
}

.aboutme h5{
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	color:black;
	line-height:24px;
	padding-bottom:10px;
	font-weight:400;
	margin:0px;
}

.aboutme .heading{
	text-align:center;
	padding-bottom:70px;
}

.aboutme .heading .container{
	padding-top:0px !important;
	padding-bottom:0px !important;
	padding-right: 15px;
	padding-left: 15px;
}

.aboutme .heading h2 {
	font-size:22px;
	line-height:40px;
	font-weight:400;
	margin-bottom:20px;
	letter-spacing:2px;
	display:inline-block;
	position:relative;
}

.aboutme .heading h2:after{
	content:"";
	display:block;
	width:76px;
	height:2px;
	background:black;
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-38px;
}

.aboutme .heading h3{
	font-size:20px;
	line-height:30px;
	color:black;
	padding-bottom:0;
	font-weight:300;
	text-transform:none;
	letter-spacing:1px;
}