<header id="home">
    <div class="logo"></div>
    <ul>
        <li><a href="#home">Inicio</a></li>
        <li><a href="#aboutme">Introducción</a></li>
        <li><a href="#education">Educacion</a></li>
        <li><a href="#skillset">Habilidades</a></li>
        <li><a href="#experties">Experiencias</a></li>
        <li><a type="button" class="btn btn-primary" id="btnLogin" routerLink="/login" *ngIf="isLogout()">LOGIN</a></li>
        <li><a type="button" class="btn btn-primary" id="btnLogout" *ngIf="!isLogout()" (click)="onLogout($event)">LOGOUT</a></li>
    </ul>
</header>
<div class="banner">
    <div class="banner-content" *ngIf="usuario">
         <h1>{{usuario.nombre}} {{usuario.apellido}}</h1>
         <h3>{{usuario.titulo}}</h3>  
    </div>
</div> 
<app-aboutme></app-aboutme>
<app-skills></app-skills>
<app-educacion></app-educacion>
<app-experiencia></app-experiencia>
<app-footer></app-footer>


